<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    <title>{{ page_title }}</title>
</head>
<body>
    <main>
        {{ content_for_layout }}
    </main>
</body>
</html>